*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

header
{
    background-color: lightseagreen;
}

h1
{
    width: fit-content;
    font-size: 3.2rem;
    background-color: cornflowerblue;
    border: 1.5px solid gray;
    margin: 0 auto;
    padding: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.container
{
    background-color: lightseagreen;
}

.container-list
{
    text-align: center;
    list-style: none;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2.6rem;
}

.container-list li
{
    font-size: 2.8rem;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: darkgreen;
    font-weight: bold;
}

.container-list .container-list__subtitle
{
    color: black;
}

.container-list a
{
    text-decoration: none;
}

.container-list__img img
{
    width: 28rem;
}

.uvas img
{
    width: 18rem;
}

.pollo img
{
    width: 19rem;
}
